@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 1rem 220px 0 220px;
    font-family: 'lexend deca', cursive;
}

main {
    padding: 0 0;
    font-family: 'lexend deca', cursive;
}

.menu-navbar {
    display: none;
}

.navbar {
    display: flex;

    height: 100px;
    border-bottom: 1px solid hsl(219, 9%, 45%);
}

.navbar-right {
    display: flex;

    width: 30%;
    justify-content: end;
    align-items: center;


}

.navbar-left {
    display: flex;

    width: 70%;
    align-items: center;

}

.nav-links {
    margin-left: 3rem;
}

a {
    text-decoration: none;
}

.nav-link {
    margin-left: 0.5rem;
    color: rgba(78, 77, 90, 0.63);
}

.image-avatar-container {
    width: 50px;
    margin-left: 1rem;
}

.image-avatar-container img {
    width: 50px;
    height: 50px;
}

.main-left {
    height: 600%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    align-items: center;
    padding-left: 2rem;
    margin-right: 6rem;
}

.main-right {
    
    height: 600%;
    width: 50%;
}

main {
    display: flex;
    margin-top: 5rem;



}

.main-left-hearder {
    border-radius: 2rem;
    
    height: 70%;
    display: flex;
    overflow: hidden;   
    border-radius: 1rem;
    width: 100% !important;
    transition: ease-in-out 0.5s;
}

.main-left-hearder img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    border-radius: 1rem;
}

.main-left-footer {
    margin-top: 2rem;
    display: flex;
    width: 90%;
    margin-top: 0.5rem;
}

.main-left-footer-img img {

    border-radius: 1rem;
    width: 90%;
    height: 8rem;
    margin-left: 1.2rem;
}
.main-left-footer-img {
    width: 30%;
    border-radius: 0.5rem
}

.company-name {
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 5%;
    padding-bottom: 5%;
}

.product-name {
    font-size: clamp(1.9rem, 10vw, 2rem);
    line-height: 2.5rem;
    padding-bottom: 5%;
    font-family: 'Big Shoulders Display'
}

.description {
    color: hsl(219deg, 9%, 45%);
    margin-top: 20px;
    padding-bottom: 5%;
}

.after-discount {
    font-size: 1.5rem;
    font-weight: 700;
}

.discount-percent {
    color: hsl(26deg, 100%, 55%);
    font-weight: 700;
    background-color: hsl(25deg, 100%, 94%);
    width: 5%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding-top: 1%;
    margin-left: 3%;
    height: 2rem;

}

.before-discount {
    color: hsl(220deg, 14%, 75%);
    font-weight: 700;
    display: flex;
    text-align: left;
    padding-top: 5%;
}

.functions {

    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.amount {
    position: relative;
}

.select-amount {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: hsla(243, 41%, 90%, 0.664);
    padding: 15px 0;
    color: #000;
    margin-top: 0px;
    position: relative;
}

.controller {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    height: 20px;
    border: none;
    background-color: transparent;

}

.add-amount {
    right: 0;
    padding-top: 2%;
    position: absolute;
}

.minus-amount {
    left: 0;
    padding-top: 0%;
    position: absolute;
}

.add-to-cart {
    width: 50%;
    padding: 15px;
    margin-top: 0px;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(26deg, 100%, 55%);
    color: white;
    font-weight: 700;
    position: relative;

}

.after-percent-discount {
    display: flex;
}

.add-to-cart img {
    position: absolute;
    left: 15%;


}
.cart img{
    width: 25%;
    height: 25%;
}
.Checkout{
    width: 100%;
    padding: 15px;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(26deg, 100%, 55%);
    color: white;
    font-weight: 700;
}

header{
    position: relative;
}
.shoping-cart{
    border: 1px solid red;
    position: absolute;
    top: -1000px;
    right: 2rem;
    height: 230px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
    background-color: #fff;
    border-radius: 10px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'lexend deca', cursive;
    z-index: 99;
}

.Checkout2{
    width: 90%;
    margin-left: 1rem;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(26deg, 100%, 55%);
    color: white;
    font-weight: 700;
    height: 3rem;
}

.shoping-cart img {
    width: 70px;
    height: 70px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.cart{
    color: rgb(20, 15, 15);
    border-bottom: 1px solid rgb(16, 15, 15);
    padding: 1rem 2rem;
    font-family: 'lexend deca', cursive;
    font-style: oblique;
    
}
.shoping-cart strong{
    font-style: italic;
    font-family: 'lexend deca', cursive;
}
.box{
    display: flex;
}
.box p{
    margin:2rem
}

.cart-left{
    width: 30%;
    
}
.cart-right{
    width: 70%;
}

.on{
    top : 90%;
}
.nav-links img{
    display: none;
}

.translate-main-footer{
    transform: translateY(20%);
}
.after-percent-discount2{
    display: none;
}

.btn-prev{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:white;
    display: none;
    position: absolute;
    left: 2rem;
    bottom: 55%;
    z-index: 99;
}
.btn-next{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: none;
    position: absolute;
    right: 0.5rem;
    bottom: 55%;
    z-index: 99;
}
.slide-box{
    display: flex;
    transition: ease-in-out 0.5s;
}
.main-left-responsive{
    display: none;
}


@media screen and (max-width: 612px) {
    .menu-navbar {
        display: flex;
        margin-right: 1rem;
        margin-left: 2rem;
    }
    .image-avatar-container {
        width: 50px;
        margin-right: 2rem;
    }
    .main-right{
        padding: 2rem;
    height: 600%;
    width: 50%;
    }
    .navbar{
        border-bottom: none;
    }
    main {
        display: flex;
        margin-top: 0;
    }

    .nav-links {
        top: 2rem;
        left: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 14rem;
    height:100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-left: -90%;
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
    z-index: 99;
    
    }
    .nav-links a {
        margin-top: 1rem;
        color: #000;
    }
    .nav-links img{
        position: absolute;
        left: 1rem;
    }
    .navbar .menu-navbar{
        display: block;
    }
    .off{
        left: 90%;
    }

    main {
        display: block;
    }

    .main-left {
        width: 100%;
    }

    .main-right {
        width: 100%;
    }

    .functions {
        display: block;
    }

    .select-amount {
        width: 90%;
        margin-left: 4%;
        display: flex;
        position: relative;

    }

    .add-to-cart {
        width: 80%;
        margin-top: 4rem;
        position: relative;
    }
    .add-to-cart img{
        position: absolute;
        left: 5%;

    }

    .add-amount {
        right: 5%;
        padding-top: 0;
        position: absolute;
    }

    .minus-amount {
        left: 5%;
        padding-top: 0;
    }

    .main-left-footer-img img {

        border-radius: 1rem;
        width: 90%;
        height: 9rem;
        margin-left: 0rem;
        display: none;

    }
    body {
        padding: 0;
        font-family: 'lexend deca', cursive;
    }
    .nav-links img{
        display: block;
        margin-left: 1rem;
    }
    
.discount-percent2 {
    color: hsl(26deg, 100%, 55%);
    font-weight: 900;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 6rem;
    height: 2rem;
    width: 2rem;

}

.before-discount2 {
    color: hsl(220deg, 14%, 75%);
    position: absolute;
    right: 10%;
    

}
.after-discount2 {
   
}
.after-percent-discount2 {
    display: flex;

}
.after-percent-discount{
    display: none;
}
.before-discount{
    display: none;
}
.main-left-hearder {
    width: 25rem;
}
.btn-prev{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-prev .img-prev{
    width: 15px;
}

.btn-next .img-next{
    width: 15px;
}

.btn-next{
    display: flex;
    align-items: center;
    justify-content: center;
}

}